# Python
build/
dist/
release/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/

# Bundled tools binaries & temporary files
tools/
vse_job_*
source.mp4
*.part
*.zip

# Settings & local configuration
.video_screenshot_gui.json
